.entry {
  &__header {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__time {
    color: $gray;
    font-size: 0.875rem;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    order: -1;
    margin-bottom: 0.25rem;
  }

  &__organization {
    font-size: 1.125rem;

    a {
      font-weight: 500;
    }
  }

  &__content {
    max-width: 70ch;

    * > * {
      margin-top: 1em;
    }

    > h2,
    > p {
      margin-top: 1rem;
    }

    > h2 {
      font-family: $font-family-base;
      font-size: 1.075rem;
      line-height: 1.5;
    }

    ul {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      li {
        margin: 0 0 0.25rem;

        &::before {
          color: var(--secondary-color);
          content: '\2013';
          display: inline-block;
          margin-right: 0.5rem;
        }

        ul {
          margin: 0 0 0 1.25rem;

          li {
            margin: 0 0 0.15rem;
          }
        }
      }
    }

    > ul.tech-list {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 1rem;

      li {
        font-size: 0.85rem;
        margin: 0 0.25rem;

        &:nth-of-type(1) {
          margin-left: 0;
        }

        &::before {
          content: unset;
        }

        &::after {
          color: var(--secondary-color);
          content: '\2219';
          display: inline-block;
          margin-left: 0.5rem;
        }

        &:nth-last-of-type(1)::after {
          content: unset;
        }
      }
    }

    hr {
      display: none;
    }
  }
}
