@media print {
  // GENERAL PRINT RESET

  @page {
    margin: 1cm 3cm;
  }

  :root {
    --text-color: #000000;
  }

  html,
  body {
    width: 100%;
    min-height: 100%;
    font-size: 10px !important;
    overflow: visible;
  }

  *,
  *:before,
  *:after {
    box-shadow: none !important;
    text-shadow: none !important;
    transition: none !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3 {
    page-break-after: avoid;
  }

  // ELEMENTS
  // PRINT STYLE ADJUSTMENTS

  .layout {
    display: block;
  }

  .container {
    max-width: none !important;
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    padding: 0 !important;
  }

  .sidebar,
  .copyrigth {
    display: none !important;
  }

  .footer {
    background: transparent !important;
  }

  .section__title {
    border-color: #b5b5b5;
  }

  .vcard__content {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, min-content);
    width: 100%;

    .vcard__title {
      grid-column: 1/2;
      grid-row: 1/3;
      margin-right: auto;
    }

    .vcard__subtitle,
    .vcard__contact {
      grid-column: 2/3;

      > * {
        white-space: nowrap;
      }
    }

    .vcard__subtitle {
      grid-row: 1/2;
      margin-bottom: 0;
    }

    .vcard__contact {
      grid-row: 2/3;
    }
  }

  .vcard__contact {
    display: flex;
    width: 100%;
  }

  .entry__content,
  .p-summary {
    max-width: 100%;
  }

  .entry__content {
    h2 {
      font-size: 1.35rem;
    }
  }

  .entry__organization,
  .p-summary,
  .section--interests {
    a[href]:after {
      content: ' (' attr(href) ')';
    }
  }

  .entry__organization {
    font-size: 1.5rem;
  }

  .p-summary {
    font-size: 1.25rem;
  }

  .section--interests,
  .vcard__avatar {
    display: none;
  }

  .entrylist::before,
  .entrylist__item::before,
  .bulletlist li::before {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }

  .entrylist__item,
  .entry {
    page-break-inside: avoid;
  }

  .bulletlist {
    max-height: 6rem;
  }
}
