@media print {
  // GENERAL PRINT RESET

  @page {
    margin: 1cm 3cm;
  }

  :root {
    --text-color: #000000;
  }

  html,
  body {
    width: 100%;
    min-height: 100%;
    font-size: 10px !important;
    overflow: visible;
  }

  *,
  *:before,
  *:after {
    box-shadow: none !important;
    text-shadow: none !important;
    transition: none !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3 {
    page-break-after: avoid;
  }

  a {
    color: #000;
  }

  // ELEMENTS
  // PRINT STYLE ADJUSTMENTS
  .entry[data-hidden='true'] {
    display: none !important;
  }

  .entry__time {
    color: #000;
  }

  .layout {
    display: block;
  }

  .container {
    max-width: none !important;
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    padding: 0 !important;
  }

  .sidebar,
  .copyrigth,
  .updated {
    display: none !important;
  }

  .footer {
    background: transparent !important;
  }

  .section {
    padding: 1.5rem 0 1rem;
  }

  .section__title {
    border-color: #b5b5b5;
    margin-bottom: 1rem;
  }

  .vcard__content,
  .entry__header {
    display: grid;
    width: 100%;
  }

  .vcard__content {
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, min-content);

    .vcard__title {
      grid-column: 1/2;
      grid-row: 1/2;
      margin-right: auto;
    }

    .vcard__subtitle,
    .vcard__contact {
      > * {
        white-space: nowrap;
      }
    }

    .vcard__contact {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
      margin-bottom: 0;
    }

    .vcard__subtitle {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  .vcard__contact,
  .vcard__social {
    width: 100%;
  }

  .vcard__social {
    display: flex;
  }

  .vcard__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.25rem;
    align-items: start;
    justify-content: end;
  }

  .vcard__social {
    align-items: flex-end;

    > * {
      margin-top: 0.5rem;
    }
  }

  .vcard__link {
    &:last-child {
      margin-right: 0;
    }
    &.u-email {
      display: inline-flex;
    }
    svg.icon {
      height: 16px;
      width: 16px;
    }
  }

  .entry__content,
  .p-summary {
    max-width: 100%;
  }

  .entry__header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);

    .entry__title {
      grid-row: 1/2;
    }

    .entry__time {
      grid-row: 3/4;
    }

    .entry__organization {
      grid-row: 2/3;
    }
  }

  .entry__organization,
  .p-summary,
  .section--interests {
    a[href]:after {
      content: ' (' attr(href) ')';
    }
  }

  .p-summary {
    font-size: 1.25rem;
  }

  .entrylist::before,
  .entrylist__item::before,
  .bulletlist li::before {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }

  .entrylist__item,
  .entry {
    page-break-inside: avoid;
  }

  .bulletlist {
    display: flex;
  }

  .bulletlist,
  .markdown,
  #section-experience {
    li:before {
      background-color: #000;
    }
  }

  .entrylist,
  .entrylist__item {
    padding-left: 0;
  }

  #section-introduction .section__title,
  .section--interests,
  .vcard__avatar,
  .entrylist::before,
  .entrylist__item::before {
    display: none;
  }
}
